In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

data = pd.read_csv('D:/Uni/machine-learning/assignments/1/solution/Paitients_Files_Train.csv', delimiter=',')
data.head()

          ID  PRG   PL  PR  SK   TS   M11    BD2  Age  Insurance   Sepssis
0  ICU200010    6  148  72  35    0  33.6  0.627   50          0  Positive
1  ICU200011    1   85  66  29    0  26.6  0.351   31          0  Negative
2  ICU200012    8  183  64   0    0  23.3  0.672   32          1  Positive
3  ICU200013    1   89  66  23   94  28.1  0.167   21          1  Negative
4  ICU200014    0  137  40  35  168  43.1  2.288   33          1  Positive

In [3]:
# plt.figure(figsize=(25,30))
# for i, col in enumerate(data.columns):
#     plt.subplot(6,5,i+1)
#     plt.hist(data[col], alpha=0.3, color='b', density=True)
#     plt.title(col)
#     plt.xticks(rotation='vertical')

In [4]:
# import seaborn as sns
# plt.figure(figsize=(25,30))
# for i, col in enumerate(data.columns):
#     plt.subplot(6,5,i+1)
#     sns.scatterplot(data=data, x=col, y='Sepssis')
#     # sns.regplot(x=col,y='MEDV', data=bostonHouseFrame)
#     plt.title(col)


# plt.xticks(rotation='vertical')
# plt.show()

In [ ]:
import